.add-item-container {
    width: 320px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 4px solid;
    border-image: linear-gradient(180deg, #9FCA22, #9FCA22, #9FCA22);
    border-image-slice: 1;
    background-color: #E4E5E9;
    padding: 35px;
}

.item-add-button {
    background-color: #9FCA22;
    color: #FFFFFE;
    padding: 7px 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.item-add-button:hover {
    background-color: #8fb51e;
}

/* make responsive add item */

@media only screen and (max-width: 576px) {
    .add-item-container {
        width: 80%;
        margin: 0 auto;
        margin-top: 45px;
        margin-bottom: 207px;
    }

}